# SVD Applications Based on MovieLens Dataset

## Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from matplotlib.patches import Patch 
from datetime import datetime, date, timedelta

## Data Loading

In [ ]:
df_movie_lense = pd.read_csv("../data/movielens/u.data")
df_movie_lense

        196\t242\t3\t881250949
0       186\t302\t3\t891717742
1        22\t377\t1\t878887116
2        244\t51\t2\t880606923
3       166\t346\t1\t886397596
4       298\t474\t4\t884182806
...                        ...
99994   880\t476\t3\t880175444
99995   716\t204\t5\t879795543
99996  276\t1090\t1\t874795795
99997    13\t225\t2\t882399156
99998    12\t203\t3\t879959583

[99999 rows x 1 columns]